
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="myApp" ng-controller="SQLController">

    <h2>SQL管理网站</h2>
    <div class="btn-group">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            配置文件
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改配置</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">连接字符串</label>
                                <input type="text" class="form-control" id="connectstring" placeholder="连接字符串" ng-model="connectionstring">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" ng-click="Save()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default" ng-click="Example(0)">查询已有数据库</button>
        <button type="button" class="btn btn-default" ng-click="Example(1)">查询已有表</button>
        <button type="button" class="btn btn-default" ng-click="Example(2)">查询某表字段</button>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                更多常用功能
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
            </ul>

        </div>
        <button type="button" class="btn btn-primary" value="" ng-click="Execute()">点我执行</button>
    </div>

    <textarea class="form-control" rows="5" id="sql" name="sql" ng-model="sql" placeholder="输入需要执行的sql语句" style="width:100%"></textarea>
    @*<div class="alert alert-success" ng-show="message">{{message}}</div>*@

    <table class="table">
        <thead>
            <tr>
                <td ng-repeat="item in propertys">
                    {{item}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-repeat="property in propertys">
                    {{item[property]}}
                </td>
            </tr>
        </tbody>
    </table>

</div> 
    

<script src="~/Scripts/angular.js"></script>
<script>
    var myApp = angular.module('myApp', []);

    myApp.controller('SQLController', function ($scope, $http) {
        $scope.connectionstring =unescape( getCookie("SQL"));
        console.log($scope.connectionstring);
        $scope.Save = function () {
            $('#myModal').modal('hide')
            var expireDate = new Date();
            expireDate.setDate(expireDate.getDate() + 1);
            document.cookie = "SQL" + "=" + escape($scope.connectionstring) + ";expires=" + expireDate.toGMTString();
            $scope.connectionstring = unescape(getCookie("SQL"));
        }
        $scope.Execute = function () {
            $scope.message = "";
            if ($scope.sql!=null)
            $http.get('/table/sql', { params: { sql: $scope.sql, con: $scope.connectionstring } }).success(function (data) {
                $scope.items=JSON.parse(data);
                if (!isNaN($scope.items)) {
                    if ($scope.items == -1) {
                        $scope.message = "执行成功";
                    } else {
                        $scope.message = "有" + $scope.items + "行受影响";
                    }
                  
                    return;
                }
                var p = $scope.items[0];
                var propertys = [];
                for (var i in p) {
                    propertys.push(i);
                }
                $scope.propertys = propertys;
            })
        }
        $scope.Example = function (type) {
            switch (type) {
                case 0:
                    $scope.sql = "SELECT Name 数据库名 FROM Master..SysDatabases ORDER BY Name ";
                    break;
                case 1:
                    $scope.sql = "SELECT Name 表名 FROM SysObjects Where XType='U' ORDER BY Name";
                    break;
                case 2:
                    $scope.sql = "select a.name 表名,b.name 字段名,c.name 字段类型,c.length 字段长度 from sysobjects a,syscolumns b,systypes c where a.id=b.id and a.name = '这里输入表名' and a.xtype = 'U'and b.xtype = c.xtype and c.name!='sysname'";
                    break;
            }
        }
    });


    function getCookie(cookie_name) {
        var allcookies = document.cookie;
        var cookie_pos = allcookies.indexOf(cookie_name);   //索引的长度
        // 如果找到了索引，就代表cookie存在，
        // 反之，就说明不存在。
        if (cookie_pos != -1) {
            // 把cookie_pos放在值的开始，只要给值加1即可。
            cookie_pos += cookie_name.length + 1;      //这里容易出问题，所以请大家参考的时候自己好好研究一下
            var cookie_end = allcookies.indexOf(";", cookie_pos);
            if (cookie_end == -1) {
                cookie_end = allcookies.length;
            }
            var value = unescape(allcookies.substring(cookie_pos, cookie_end));         //这里就可以得到你想要的cookie的值了。。。
        }
        return value;
    }
</script>